<p></p>
<p style="text-align: left; text-indent: 20px;"><strong>JA's Next Step</strong> is a social media platform that is developed and administered by Junior Achievement. This program allows high school students to identify and pursue the next steps in their professional and educational careers. Students will have the ability to explore local opportunities that are currently available to them, which will be regularly updated by stakeholders.
  Local stakeholders, such as corporations, colleges, nonprofits, and associations, represent their organizations in their content to capture the interest of young, local talent and to build their community engagement. Stakeholders will create and manage their own content on JA’s Next Step. More specifically, content such as job shadowing, scholarship opportunities, internships, summer and seasonal employment, college degrees and/or certifications and local STEM related events are examples of real-time relevant material for students.
</p>
<p style="text-align: left; text-indent: 20px;">
    <strong>JA’s Next Step</strong> is an innovative and unprecedented platform that combines 21st century technology with relevant and age-appropriate programming. JA’s Next Step brings the best local and community opportunities to student in one comprehensive site.
</p>