<% @posts.each do |post| %>
    <div class="ja-post-min">
      <a class="ja-post-close" href="#">X</a>
      <div class="ja-post-header">
        <div class="ja-post-header-crop">
          <a href="#">Post Profile Name</a>
        </div>
        <img class="ja-post-logo-img" src="assets/ycp.png">
      </div>
      <div class="ja-post-img-section">
        <img class="ja-post-img" src="assets/ycp_engineering.jpg">
        <div class="ja-post-img-gradient">
          <a href="#"><span class="ja-post-icon ja-post-info glyphicon glyphicon-info-sign"></span></a>
          <a href="#"><span class="ja-post-icon ja-post-contact glyphicon glyphicon-envelope"></span></a>
        </div>
      </div>
      <div class="ja-post-body">
        <div class="ja-post-subject"><a href="#"><%= post.subject %></a></div>
        <div class="ja-post-abstract">
          <a href="#"><%= post.abstract %></a>
        </div>
      </div>
    </div>
<% end %>