/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap";

body {
  text-align: center;

  position: relative;
}

.bg-jagreen {
  background-color: #008751;
}

.bg-jagrey {
  background-color: #626366;
}

.bg-jalightgreen {
  background-color: #8cc63e;
}

.bg-jaorange {
  background-color: #d59844;
}

body > .container {
  padding: 60px 15px 60px;
}

.text-jagreen {
  color: #008751;
}

.text-jagrey {
  color: #626366;
}

.text-jalightgreen {
  color: #8cc63e;
}

.text-jaorange {
  color: #d59844;
}

.text-white {
  color: #ffffff;
}

#mainNavCollapse .input-group {
  position: relative;

  background-color: white;

  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  border-spacing: 2px 1px;
}

#keyword-search-results {
  display: none;
  position: absolute;
  left: 0px;
  top: 37px;
  right: 70px;
  background-color: white;
  border: 1px solid lightgray;
  max-height: 300px;
  overflow: auto;
  text-align: left;
}

.keyword-search-result {
  font-size: 14pt;
  padding: 4px;
}

.keyword-search-result-highlighted, .keyword-search-result:hover {
  background-color: yellow;
}

.keyword-search-result:hover {
  cursor: pointer;
}

.selected-keyword {
  display: none;

  width: 1%;
  vertical-align: middle;
  padding: 0px 10px;

  border: 1px solid lightgray;
  border-radius: 8px;

  white-space: nowrap;
}

.selected-keyword .fa.fa-times {
  padding-left: 8px;
}

.selected-keyword .fa.fa-times:hover {
  cursor: pointer;
}

.form-control.input-sm {
  border: none;
}