.ja-post-min, .ja-post-max {
    position: relative;
    display: inline-block;

    border-radius: 8px;

    border: 1px solid gray;
    box-shadow: 2px 0px 6px lightgray;

    margin: 10px;
}

.ja-post-min {
    max-width: 300px;

    max-height: 600px;
}

.ja-post-max {
    display: block;

    vertical-align: top;

    max-width: 100%;
    max-height: 400px;

    margin: 10px 42px;
}

.ja-post-header {
    position: relative;
}

.ja-post-min .ja-post-header {
    margin: 6px;
}

.ja-post-max .ja-post-header {
    float: right;

    width: 50%;

    border-bottom: 1px solid darkgray;
}

.ja-post-header-crop {
    text-align: left;
}

.ja-post-min .ja-post-header-crop {
    margin-left: 62px;

    overflow: hidden;
}

.ja-post-max .ja-post-header-crop {
    margin: 22px 0px 8px 20px;

    margin-left: 89px;

    overflow: hidden;
}

.ja-post-header-crop a {
    white-space: nowrap;
}

.ja-post-header-crop a, .ja-post-header-crop a:hover, .ja-post-header-crop a:active, .ja-post-header-crop a:visited {
    color: lightgreen;
}

.ja-post-min .ja-post-header-crop a {
    font-size: 12pt;
}

.ja-post-max .ja-post-header-crop a {
    font-size: 16pt;
}

.ja-post-img-section {
    position: relative;
}

.ja-post-max .ja-post-img-section {
    width: 50%;
}

.ja-post-logo-img {
    z-index: 1;

    border-radius: 50%;

    border: 1px solid gray;

    position: absolute;
}

.ja-post-min .ja-post-logo-img {
    height: 50px;
    width: 50px;

    top: 4px;
    left: 0px;
}

.ja-post-max .ja-post-logo-img {
    height: 80px;
    width: 80px;

    top: 30px;
    left: 10px;
}

.ja-post-img {
    width: 100%;

    z-index: 1;
}

.ja-post-min .ja-post-img {
    max-height: 200px;
}

.ja-post-max .ja-post-img {
    border-radius: 7px 0px 0px 7px;
}

.ja-post-img-gradient {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;

    z-index: 1;

    /*background-color:rgba(0, 0, 0, 0.5);*/
    background: rgba(0, 0, 0, 0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)); /* Standard syntax */
}

.ja-post-max .ja-post-img-gradient {
    border-radius: 0px 0px 0px 7px;
}

.ja-post .ja-post-edit-link {
    position: absolute;

    top: 1px;
    right: 1px;

    padding: 1px;

    background-color: rgba(255, 255, 255, 0.75);

    font-size: 1em;
}

.ja-post .ja-post-icon-link {
    position: absolute;

    top: inherit;
    bottom: 8px;

    color: white;

    font-size: 2em;
}

.ja-post-info {
    left: 10px;
}

.ja-post-contact {
    right: 10px;
}

.ja-post-body {
    position: relative;
}

.ja-post-max .ja-post-body {
    position: absolute;

    width: 50%;
    height: 180px;

    float: right;

    top: 72px;

    margin-left: 50%;
}

.ja-post-subject {
    border-bottom: 1px solid orange;
}

.ja-post-min .ja-post-subject {
    margin: 10px;

    padding-bottom: 10px;
}

.ja-post-max .ja-post-subject {
    margin: 10px 20px 4px 20px;

    font-size: 14pt;

    text-align: center;

    padding-bottom: 14px;
}

.ja-post-subject a, .ja-post-subject a:hover, .ja-post-subject a:active, .ja-post-subject a:visited {
    color: darkgreen;
}

.ja-post-min .ja-post-subject a {
    font-size: 12pt;
}

.ja-post-max .ja-post-subject a {
    font-size: 16pt;
}

.ja-post-abstract {
    margin: 10px;
}

.ja-post-abstract a, .ja-post-summary {
    color: gray;

    font-size: 9pt;
}

.ja-post-summary {
    height: 100%;

    overflow: auto;

    margin: 0px 6px;
}

.ja-post-close {
    display: none;
}

.ja-post-max .ja-post-close {
    display: block;
    position: absolute;

    font-size: 18pt;
    color: gray;

    right: 8px;
    top: 2px;
    
    z-index: 1;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.ja-modal {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.5);

    z-index: 10000;
}

.ja-modal .ja-profile {
    margin-top: 30px;
}