.ja-profile {
    position: relative;

    border-radius: 10px 10px 0px 0px;
    border: 1px solid lightgray;

    width: 1024px;

    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 50px;

    background-color: white;
}

.ja-profile .row {
    margin: 0;
}

.ja-profile-close {
    position: absolute;

    top: 4px;
    right: 8px;

    font-size: 12pt;

    color: white;
}

.ja-profile-banner {
    border-radius: 10px 10px 0px 0px;

    width: 100%;
}


.ja-profile-logo {
    position: absolute;

    left: 110px;
    top: 150px;

    height: 200px;

    border-radius: 50%;

    z-index: 1;
}

.ja-profile-body {
    width: 100%;
}

.ja-profile-body-left {
    vertical-align: top;

    padding-top: 110px;

    width: 40%;
}

.ja-profile-gray {
    font-size: 12pt;

    color: grey;
}

.ja-profile-body-left-phone {
    padding-top: 10px;
}

.ja-profile-body-left-website {
    padding-top: 10px;
}

.ja-profile-body-right {
    vertical-align: top;

    width: 60%;

    padding: 6px 10px;
}

.ja-profile-body-right-contact-us {
    margin-top: 20px;
}

.ja-profile-body-right-contact-us a {
    padding: 6px 40px;
    border-radius: 4px;
    background-color: lightgreen;
    color: white;
}

.ja-profile .ja-profile-separator hr {
    padding: 2px 0px;

    white-space: nowrap;
}

.ja-profile .ja-profile-title {
    font-size: 14pt;
    font-weight: bold;

    color: green;

    padding: 2px 0px;
}

.ja-profile-posts {
    position: relative;
}

.ja-profile i.fa.fa-chevron-left, .ja-profile i.fa.fa-chevron-right {
    position: absolute;

    top: 0;

    height: 400px;
    vertical-align: top;
    padding: 200px 0px 0px 0px;
}

.ja-profile i.fa.fa-chevron-left {
    left: 10px;
}

.ja-profile i.fa.fa-chevron-right {
    right: 10px;
}

.ja-profile i.fa {
    padding: 10px 14px;

    color: lightgreen;
}
